// Specific CSS for your home-page

body {
  background-color: white;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-repeat:repeat-x;
  background-attachment: fixed;
  background-position: bottom;
  overflow: hidden;
}


.maintitle {
  margin-top: 5%;
  font-family: pacifico;
  font-size: 50px;
  text-align: center;
  color: #133C65;
  padding-bottom: 10%;
  display: flex;
}

h1 {
  color: #133C65;
}

h2 {
  color: #133C65;
  padding-bottom: 50px;
}

h3 {
  color: #133C65;
}

.home-page-icon {
  margin: 0 auto;
  height: 150px;
  margin-bottom: 20%;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: fixed;
  bottom: -202px;
  left:0;
  width: 6400px;
  height: 400px;
  animation: wave 9s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: -1;

}

#wave2 {
  animation: wave 9s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite;
  animation-delay: .3s;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
