// Specific CSS for your home-page

body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat:repeat-x;
  background-attachment: fixed;
  background-position: bottom;
}


.maintitle {
  margin-top: 5%;
  font-family: pacifico;
  font-size: 75px;
  text-align: center;
  color: #133C65;
  padding-bottom: 10%;
  display: flex;
}

h1 {
  color: #133C65;
}

h2 {
  color: #133C65;
  padding-bottom: 50px;
}

h3 {
  color: #133C65;
}

.home-page-icon {
  margin: 0 auto;
  height: 150px;
  margin-bottom: 20%;
}


html, body { height: 100%; }

body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

// .ocean {
//   height: 5%;
//   width:100%;
//   position:absolute;
//   bottom:0;
//   left:0;
//   background: #015871;
// }


// .moving-wave {
//   border-image-repeat: stretch;
//   background-position: 0%;
//   opacity: 80%;
//   margin-top: auto;
//   display: flex;
//   width: 100%;
//   margin: 0 -20% 0 0;
// }

// .footer-pattern {
//   border-image-repeat: stretch;
//   opacity: 80%;
//   margin-top: auto;
//   display: flex;
//   width: 100%;
//   padding-top: 2%;
// }
