// Specific CSS for your home-page

body {
  background-color: white;
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-position: bottom;
}

.content-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.container-home {
  height: 95%;
  justify-content: center;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
}

.maintitle {
  padding-top: 10%;
  font-family: pacifico;
  font-size: 50px;
  text-align: center;
  padding-bottom: 13%;
  display: flex;
  color: #ffffff;
}

.header2 {
  color: $navy;
  text-align: center;
}

h3 {
  color: $navy;
}

.home {
  height: 100vh;
  background-image: url('surferphoto');
  background-size: cover;
  background-position: -20px -40px;
  background-repeat: no-repeat;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg);
  position: fixed;
  bottom: -374px;
  left: 0;
  width: 10880px;
  height: 680px;
  animation: wave 9s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: 2;
  filter: brightness(0) invert(1);
}

#wave2 {
  animation: wave 9s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite;
  animation-delay: .3s;
}

.ocean {
  height: 113px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
