
<div class="container">
  <div class="card"></div>
  <h1 class="maintitle"> the surf course</h1>
    <div class="row align-items-stretch">

      <div class="row">
        <div class="col-4">
          <%= image_tag 'combi.png' %>
          <%= image_tag 'surfboard' %>
        </div>
        <div class="col-8">
          <h1>Trouvez ta planche et ta combi pour rejoignons-nous à la mer</h1>
          <br>
          <button type="button" class="btn btn-flat">allez!</button>
        </div>
      </div>
    </div>
  </div>
