
<div class="container">
  <h1 class="maintitle justify-content-center"> the surf course</h1>
    <div class="row align-items">
      <div class="d-flex">
        <%= image_tag 'newcombietsurf.svg', class: 'home-page-icon' %>
      </div>
      <div class="col-12">
        <h2 class="justify-content-center">Trouve ta planche et ta combi pour rejoignons-nous à l'océan</h2>
      </div>
      <div class="d-flex justify-content-center">
        <a href=form class="btn btn-flat" role="button" aria-pressed="true">let's go!</a>
      </div>
    </div>
  </div>
</div>
