
<div class="container">
  <div class="card"></div>
  <h1 class="maintitle"> the surf course</h1>
    <div class="row align-items-stretch">

      <div class="row">
        <div class="col-12 col-lg-4">
          <%= image_tag 'combietsurf.png', class: 'home-page-icon' %>
        </div>
        <div class="col-12 col-lg-8">
          <div class="text-start"><h2>Trouvez ta planche et ta combi pour rejoignons-nous à la mer</h2>
          </div>
        </div>
      </div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-flat" .text-center>let's go!</button>
        </div>
    </div>
  </div>
