
<div class="container home">
  <div class="d-flex flex-column justify-content-between my-3 container-home">
    <h1 class="maintitle justify-content-center"> the surf course</h1>
    <div class="content-home">
      <h2 class="header2">Trouve ta planche, ta combi et rejoignons-nous à l'océan</h2>
      <a href=form class="btn btn-flat" role="button" aria-pressed="true">let's go!</a>
    </div>
  </div>
</div>

<div class="wave"></div>
<div class="wave" id="wave2"></div>
<div class="ocean"></div>
