
<div class="formcontainer">
      <div class="row">
          <div class="col-12"><h2>hey [name] notre recommendation</h2></div>
      </div>
      <div class="row">
        <div class="col-6">
          <%= image_tag 'resultsurfboard.avif', class: 'results-image' %>
        </div>
        <div class="col-6">
          <%= image_tag 'wetsuit.jpg', class: 'results-image' %>
        </div>
    </div>

    <div class="row">
        <div class="col-12"><p>This surfboard is absolutely amazing! Its vibrant colors and smooth lines make it look like it's just begging to be taken out for a ride. The way it glides effortlessly over the waves is truly a sight to behold. The sturdy construction and perfect balance make it easy for even a novice surfer to ride the waves with confidence. Plus, the comfortable grip ensures that your feet won't slip off while you're catching the perfect wave.
        <br>
        <br>
        This wetsuit is like a second skin, except that it's made of neoprene and makes you look like a seal. Putting on a wetsuit is a bit like wrestling an octopus, except the octopus is trying to suffocate you. You shimmy and squirm your way into the tight, clingy fabric, feeling like a sausage being squeezed into its casing. Once you're fully suited up, you look like a cross between a scuba diver and a Teletubby. But once you hit the water, everything changes. Suddenly, you're sleek and streamlined, slicing through the waves like a dolphin.</p></div>
    </div>
  </div>
  </div>
</div>
