.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 70px;
  margin-bottom: 11px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 220px;
}

.nav-link {
  color: #133C65;
}

.nav-link:hover {
  color: #0f2f4f;
}
