.slidecontainer {
  width: 100%;
  font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 5px;
  background: #133C65;
  outline: 2px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50px;
  border: 1px solid #133C65;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 5px;
  background: #133C65;
  cursor: pointer;
}
